QA_LLM_ROUTER_ADMIN_TOKEN=your_admin_token_here
OLLAMA_API_KEY=your_ollama_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
GOOGLE_AI_STUDIO_API_KEY=your_google_ai_studio_api_key_here
DEBUG=true
